body{
  background-color: lightblue;
}



.interactive{
  position: absolute;
  display: block;
  width:10%;
  height: 10%;
  top: 45%;
  left: 45%;
  border: 2px white dashed;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  color: white;
  

}


.interactive:hover {
    background-color: lightgreen;
    width: 10%;
    height: 10%;
    transform: rotate(180deg);
}
